name: Publish to PyPi
on:
  push:
    branches: [ "master" ]
    paths:
      - '**'
      - '!docs/**'
      - '!README*'
  release:
    types: [published]
permissions:
  contents: read
jobs:
  test:
    name: Test
    uses: ./.github/workflows/python-test.yml
  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set Up Python
        uses: actions/setup-python@v3
        with: {python-version: '3.9'}
      - name: Release Package
        run: make init release
        env:
          PYPI_USER: elo-e
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
